
    <h1>Facture Evenement</h1>

    <section class="home-blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">

                    <div class="section-tittle text-center mb-40">
                        <h2>{{titre}}</h2>
                    </div>
                </div>
            </div>






            <table class="table-border-bottom-0">
                <tr>
                    <td>
                        <div class="blogs-cap">

                            <span>{{ prix~"  TND" }}</span>
                            <h5>{{ lieu }}</h5>
                            <p>{{ date | date('d-m-y') }}</p>

                        </div>
                    </td>

                </tr>


            </table>


        </div>




        </div>
    </section>






